
    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

     <!-- Page-Level Plugin Scripts - Tables -->
     <script src="/js/jquery.dataTables.js"></script>
     <script src="/js/dataTables.bootstrap.js"></script>
 
     <script>
     $(document).ready(function() {
         $('#dataTables-example').dataTable();
     });
     </script>



<script>
    $(document).on("click", "#modal-id", function (clickObj) {
     var idAnaliza = $(this).attr('data-id');

     $(".modal-body #analizaid").val( idAnaliza );
});
</script>


<script>
  $(document).ready(function(){
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    date_input.datepicker(options);
  })
</script>
<!-- <script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script> -->

  </body>
</html>