<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/listare-analize"><i class="fa fa-bar-chart-o"></i> Listeaza Analizele</a></li>
    
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Optiuni utilizator <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/adaugare-consultatie">Adauga o Consultatie</a></li>
          <li><a href="/retetele-mele">Retetele Mele</a></li>
          <li><a href="/listare-consultatii">Lista cu consultatiile mele</a></li>
          <li><a href="#">Ultimele mele analize efectuate</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-user">
      <li>
        <a href="/cart">Cart</a>
      </li>



      <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=profileName %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
          <li class="divider"></li>
          <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>