 <%- include('includes/header.ejs') %>

    <div id="wrapper">

      <!-- Sidebar -->
      <%- include('includes/navigation.ejs') %>

      <!-- END NAVIGATION -->

    




<!--
         Begin "Products" section         -->

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Dashboard <small>Statistics Overview</small></h1>
            <ol class="breadcrumb">
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <a class="alert-link" href="/">Interfata personalizata</a>! Aici fiecare user va avea un dashboard personalizat in functie de analize , programari , retete etc
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
         
             <h1>Under Development</h1>
        </div>
        </div><!-- /.row -->

      

        

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->
    <%- include('includes/footer.ejs') %>