<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Medical Management Interface</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Medical Management System</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">Despre acest proiect</a></li>
        <li><a href="/contact">Contact Me !</a></li>
      </ul>
    </div>
  </nav>
    
      <div class="jumbotron">
        <center><p>Pentru a avea acces la interfata , te rugam sa te loghezi !</p></center>
      </div>

<div class="login-form">
    <form action="/new-password" method="post">
        <h2 class="text-center">Parola Noua</h2>       
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required="required">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="userId" value="<%=userId %>">
          </div>
         
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Confirma</button>
        </div>    
    </form>
</div>
</body>
</html>                                		